* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(242, 240, 240);
}
.container {
  max-width: 100%;
  margin: 0 auto;
  header {
    width: 100%;
    height: 50px;
    background: linear-gradient(131deg, rgb(15, 12, 12), rgb(87, 86, 86));
    h1 {
      a {
        color: white;
        text-decoration: none;
        opacity: 50%;
        margin-left: 20px;
      }
    }
    ul {
      display: flex;
      gap: 30px;
      margin-left: 540px;
      margin-top: -40px;
      li {
        list-style: none;
        transition: all 1s linear;
        &:hover {
          text-decoration: underline;
          font-size: 17px;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
  main {
    display: inline;
    img {
      display: inline;
      width: 400px;
      margin-top: 100px;
      background: none;
      border-radius: 30px;
      background-color: red;
      transform: translateY(50px);
    }
    a {
      color: rebeccapurple;
      text-decoration: none;
    }
    .apps {
      display: flex;
      gap: 10px;
      button {
        border-radius: 30px;
        margin-left: 100px;
        border: red 1px solid;
        padding: 5px;
        transform: translateY(45px);
      }
      i {
        transform: translateY(50px);
      }
    }
    .info {
      p {
        font-size: 30px;
      }
      margin-left: 490px;
      margin-top: -200px;
    }
    a {
      font-size: 20px;
    }
  }
  .page-1 {
    .spinners {
      margin-top: 160px;
      display: flex;
      justify-content: center;
      gap: 60px;
    }
    h1 {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    p {
      text-align: center;
      font-size: 20px;
      transition: all 0.3s linear;
    }
  }
  .info-2 {
    width: 300px;
    height: 30vh;
    background-color: rgb(196, 195, 195);
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 50px;
    margin-top: 140px;
    a {
      text-decoration: none;
      color: rebeccapurple;
      display: block;
      text-align: center;
      font-size: 20px;
      transition: all 0.1s linear;
      &:hover {
        color: rgb(30, 1, 60);
        font-size: 21px;
      }
    }
  }
  .info-3 {
    h1 {
      color: black;
      font-size: 1rem;
      opacity: 50%;
      width: 50%;
      margin-left: 610px;
      margin-top: -7px;
      &:hover {
        color: red;
      }
    }
    img {
      width: 300px;
      height: 300px;
      margin-left: 500px;
      margin-top: 50px;
      margin-bottom: -130px;
      border-radius: 50%;
    }
    p {
      color: white;
      padding-left: 7px;
    }
    .thor {
      margin-left: 200px;
    }
    .progress {
      height: 30px;
      width: 500px;
      background-color: rebeccapurple;
      transform: translateY(100px);
      margin-left: 100px;
      margin-bottom: 10px;
    }
  }
  footer {
    margin: 0 auto;
    text-align: center;
    background-color: rgb(173, 173, 173);
    margin-top: 200px;
    line-height: 100px;
    border-radius: 30px;
    h1 {
      color: black;
      transition: all 0.4s linear;
      display: inline;
      &:hover {
        font-size: 45px;
        color: gold;
      }
    }
    p {
      transition: all 0.4s linear;
      color: black;

      &:hover {
        font-size: 25px;
        color: gold;
      }
    }
    .apps {
      a {
        color: rebeccapurple;
        font-size: 30px;
        margin-left: 30px;
      }
    }
    .man {
      .fa-house {
        color: rebeccapurple;
        background-color: rgb(213, 214, 213);
        border-radius: 50%;
        padding: 20px;
        font-size: 30px;
        transform: translateX(600px);
      }
    }
  }
}
@media (max-width: 447px) {
  .container {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    header {
      max-width: 100%;
      display: flex;
      h1 {
        a {
          font-size: 1.2rem;
          display: flex;
          flex-direction: row;
          width: 100%;
        }
      }
      ul {
        display: flex;
        margin: 0 auto;
        margin-top: 100px;
        margin-left: -240px;
        justify-content: center;
        background-color: rgb(84, 84, 250);
        li {
          a {
            color: red;
            margin: 0 auto;
            margin-left: 15px;
            transform: translateX(-40px);
          }
        }
      }
    }
    main {
      img {
        width: 60%;
        margin-left: 65px;
        margin-top: 40px;
      }
      .info {
        transform: translateY(330px);
        margin-bottom: 400px;
        text-align: center;
        margin-left: 0px;
        button {
          display: none;
        }
        a {
          margin: 0 auto;
        }
      }
    }
    .page-1{
      p{
        padding: 20px;
      }
      code{
        color: green;
        display: block;
      }
    }
    .info-2 {
      height: auto;
      a {
        margin-bottom: -0px;
      }
      
    }
    .info-3 {
      .progress {
        width: 300px;
        margin: 0 auto;
        margin-top: 10px;
      }
      h1 {
        display: flex;
        padding-top: 150px;

        margin: 0 auto;
      }
      img {
        margin: 0 auto;
        // margin-left: 110px;
        display: flex;
        width: 150px;
        height: 150px;
        margin-bottom: -120px;
        margin-top: 50px;
      }
    }

    footer {
      p {
        width: 300px;
        line-height: 35px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
      }
      .apps {
        // display: flex;
        width: 300px;
        margin: 0 auto;
      }
      .man {
        color: red;
        // transform: translateY(-350px);
        background-color: black;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        margin-bottom: -30px;
      }
    }
  }
}
